body{

    margin: 0;
    padding: 0;
}

h1{
background-color: #006437;
color: white;
text-align: center;
margin: 0;
padding: 20px;

}
.card{
width: 800px;
margin: 10px auto;
padding: 10px;
border: 1px solid #006437;
border-radius: 10px;
box-shadow: 0 10px 10px white;
}